#ScoreCard
{
    width: 80%;
    margin: auto;
    height: 500px;
    margin-top: 200px;
    padding: 50px;
    box-sizing: border-box  ;
    display: flex;
    gap: 30px;
    color: white;
    justify-content: space-between;
    background-color: rgb(56, 50, 50);
}