#ScoreCard
{
    width: 80%;
    padding: 2%;
    padding-left: 0;
    box-sizing: border-box;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(218, 218, 218, 0.5);
    border: 1px solid grey;
    text-align:left;
    backdrop-filter: blur(5px);
    border-radius: 20px;
    overflow: hidden;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    .top-cont
    {
        h3
        {
            background-color:antiquewhite;
            font-weight: 400;
            margin: 0;
            font-size: 1.5vw !important;
            padding: 20px;
            border-radius: 10px;
            margin-bottom: 3%;
            margin-left: 5%;
            font-size: 2vw;
            text-align: center;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
        }
    }
    .middle-cont
    {
        display: grid;
        align-items: center;
        grid-template-columns: 45% 55%;
        justify-content: space-between;
        >div:nth-child(1)
        {
            display: flex;
            align-items: center;
        }
        >div:nth-child(2)
        {
            display: grid;
            grid-template-columns: repeat(3, 31%);
            justify-content: space-between;
            row-gap: 8%;
            box-sizing: border-box;
            >div
            {
                height: 100%;
                border: 1px solid grey;
                border-radius: 20px;
                overflow: hidden;
                height: 6vw;
            }
            .card
            {
                box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                transition: 500ms;
                >div:nth-child(1)
                {
                    background-color: black;
                    color: white;
                    height: 40%;
                    display: flex;
                    font-size: 1.5vw;
                    justify-content: center;
                    align-items: center;
                }
                >div:nth-child(2)
                {
                    display: flex;
                    height: 60%;
                    align-items: center;
                    justify-content:space-evenly;
                    font-size: 2.5vw;
                    padding: 2px;
                    box-sizing: border-box;
                    >div:nth-child(1)
                    {
                        background-size: contain;
                        background-repeat: no-repeat;
                        height: 80%;
                        width: 30%;
                    }
                    .time
                    {
                        background-image: url("https://user-images.githubusercontent.com/90475607/191363331-aa203013-6928-47a3-8642-2f575860eba8.png");
                    }
                    .accuracy
                    {
                        background-image: url("https://user-images.githubusercontent.com/90475607/191363321-6c82804d-1084-4f21-843e-3f3a6447bac5.png");
                    }
                    .speed
                    {
                        background-image: url("https://user-images.githubusercontent.com/90475607/191363326-970f0632-4fdb-4f8d-8980-3669dee3abe1.png");
                    }
                    .words
                    {
                        background-image: url("https://user-images.githubusercontent.com/90475607/191363187-2d699e4e-10aa-4a68-80ea-beb64b5ce0ed.png");
                    }
                    .chars
                    {
                        background-image: url("https://user-images.githubusercontent.com/90475607/191363188-095e2595-82e1-4d00-83e4-af109fca3091.png");
                    }
                    .wrong-entries
                    {
                        background-image: url("https://user-images.githubusercontent.com/90475607/191363193-c57824e7-20aa-4b39-913f-1c75c8cfa40f.png");
                    }
                }
            }
            .card:hover
            {
                cursor: pointer;
                transform: scale(1.05);
            }
        }
    }
    .bottom-cont
    {
        padding-left: 5%;
        // border: 1px solid red;
        display: grid;
        margin-top: 2vw;
        grid-template-columns: 35% 60%;
        justify-content: space-between;
        text-align: center;

        >div:nth-child(1)
        {
            display: flex;
            align-items: center;
            button{
                width: 100%;
                font-size: 20px;
                padding: 10px;
                background-color: black;
                color: #5CCBF6;
                border: none;
                cursor: pointer;
            }
        }
        .tags
        {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 10px;
            max-height:45%;
            overflow: auto;
        }
        .tags::-webkit-scrollbar-track
        {
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
            background-color: #F5F5F5;
        }

        .tags::-webkit-scrollbar
        {
            width: 6px;
            background-color: #F5F5F5;
        }

        .tags::-webkit-scrollbar-thumb
        {
            border-radius: 10px;
            background-color: #000000;
        }
        .chip
        {
            background-color: maroon;
            color: white;
            padding: 1.5% 3%;
            border-radius: 50px;
            font-size: 1.3vw;
        }
    }
}
