#Navbar
{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 10px 5%;
    box-sizing: border-box;
    position: fixed;
    top:0;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    height: 11%;
    z-index: 100;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    // border-bottom: 2px solid white;

}
#Navbar #logo
{   cursor: pointer;
    width: 10%;
    div
    {
        height: 100%;
        background-size: contain;
        background-repeat: no-repeat;
    }
}

#Navbar>div:nth-child(2)
{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8%;
    button
    {
        padding: 5px 10px;
        box-sizing: border-box;
        background-color: transparent;
        font-size: 1.5vw;
        border: none;
        cursor: pointer;
        transition: 0.3s;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        box-sizing: border-box;
    }
    button:hover
    {
        color: maroon;
        border-bottom: 5px solid maroon;
    }
    
}
#Navbar>div:nth-child(3)
{
    width: 25%;
    height: 100%;
    display: flex;
    justify-content:end;
    align-items: center;
    .menu
    {
        position: absolute;
        height: auto;
        width: auto;
        right:5%;
        top: 90%;
        width: 100px;
        text-align: center;
        border-radius: 5px;
        background-color: white;
        color: black;
        box-sizing: border-box;
        cursor: pointer;
    }
}
#Navbar>div:nth-child(3) > div > div:nth-child(1)
{
    height: 60px;
    width: 60px;
    object-fit: contain;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 50%;
    cursor: pointer;
}