#main-container{
    border: 1px solid black;
    background: url("https://images.pexels.com/photos/8264/pexels-photo.jpg?cs=srgb&dl=pexels-life-of-pix-8264.jpg&fm=jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}
#content{
    width: 80%;
    height: auto  ;
    margin: auto;
    margin-top: 120px;
    background-color: rgba(218, 218, 218, 0.2);
    border: 1px solid grey;
    text-align:left;
    backdrop-filter: blur(5px);
    padding: 50px 20px;
    border-radius: 50px;
    color: black;
    box-sizing: border-box;
    font-size: 30px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 1px;
}
.current
{
  background: green;
  color: white;
  padding: 0px 3px;
  border-radius: 5px;
}
.correct
{
  color: green;
  /* background-color: rgb(120, 201, 120); */
  /* font-weight: bold; */
}
.error
{
  background: maroon;
  color: white;
  padding: 0px 3px;
  border-radius: 5px;
}
#data
{
  position: absolute;
  top:2%;
  right: 2%;
  background: black;
  width: 150px;
  color: white;
  text-align: center;
  padding: 10px 20px;
  border-radius: 10px;
}