#StatsCard
{
  background: #030e12;
  width: 100%;
  color: white;
  box-sizing: border-box;
  padding: 1.3% 0px;
  display: flex;
  justify-content: space-evenly;
}
#StatsCard > div{
    font-size: 3.5vw;
    text-align: center;
    
}
#StatsCard .separator
{
  transform: rotate(20deg);
  border: 1px solid white;
}
#StatsCard .icon
{
    margin-bottom: -0.6vw;
    margin-right: 0.5vw;
}